.card {
  border-radius: 0.45rem;
  display: flex;
  flex-direction: column;
  padding: 15px 15px 5px 15px !important;
  background-color: #ffffff6e !important;
  border: 1px transparent !important;

  .button {
    margin-top: 15px;
    display: flex;
    justify-content: center;

    :global(.pipeline-text) {
      color: #eeeeee !important;
    }

    div {
      justify-content: center;
      :global(.algo-btn-solid) {
        background: linear-gradient(90deg, #1ca2e1 3%, #245ec7 97%);
        margin-bottom: 8px;
      }
    }
  }

  @media only screen and (max-width: 725px) {
    h3 {
      inline-size: 275px !important;
    }
  }

  h3 {
    position: relative;
    min-height: 0.8em;
    background: #f8f8f9;
    padding: 0.8em 1.2em;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
    border-radius: 0.28571429rem;
    margin-bottom: 0;
    overflow-wrap: break-word !important;
    flex-flow: wrap;
    white-space: normal;
    box-shadow: inset 0 0 0 1px rgb(34 36 38/22%), 0 0 0 0 transparent;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: small;
    font-weight: 400;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  .donate {
    color: black;
    .send {
      display: flex;
      justify-content: flex-start;
      margin: 10px 0 10px 0;
    }

    .radios {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      label {
        display: flex;
        flex-direction: column;
        color: white;
      }
    }

    .heading {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
      text-align: left;
      margin: 5px 0 5px 0;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.5;
    }

    .customAmount {
      display: flex;
    }
  }
}
