.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 725px) {
  .panels {
    .info {
      flex-basis: 45%;
      margin-top: 1rem !important;
      font-size: initial !important;
      h1 {
        font-size: 2rem !important;
      }
    }
  }
  .donation {
    margin-top: 5rem !important;
  }

  .footer {
    height: 120px !important;
  }
}

.panels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0 2rem 0 2rem;

  .info {
    flex-basis: 45%;
    margin-top: 12rem;
    text-align: left;
    font-size: 1.125rem;
    min-width: 450px;
    h1 {
      white-space: nowrap;
      font-size: 3.6875rem;
      display: flex;
      align-items: center;
      margin: 25px 0px 25px 0px;
      width: 100%;
    }
  }

  .donation {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    margin-top: 12rem;
    min-width: 450px;
    h1 {
      margin-top: 8%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
